body{
    font-family: 'Cabin', sans-serif;
    background: #EEEEEF;
}
     /*header*/
header{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
    /* main-section */
a{
   text-decoration: none;
}
.head-main{
    display: flex;
    justify-content: center;
    background: #6D91DC;
    width: 100%;
    height: 72px;
}
.head-main-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
}
.head-logo-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-family: 'Rochester', cursive;
    font-size: 28px;
    font-weight: 400;
    color: #F8FDFE;
}
.head-package-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.logo-img{
    width: 38px;
    height: 38px;
    color: #F8FDFE;
}
.package-img{
    padding: 1px 2px 8px 2px;
    width: 30px;
    height: 40px;
}
.package-count{
    position: absolute;
    top: 20px;
    left: 88px;
    font-size: 12px;
    font-weight: 500;
}
    /*section-head-nav*/
.head-nav{
    display: flex;
    justify-content: center;
    background: #FFF;
    width: 100%;
    height: 32px;
}
.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.head-nav-text{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
    /*main*/
main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}
.form-warp{
    display: flex;
    justify-content: space-between;
    gap: 130px;
    margin-top: 56px;
}
    /*left-column-wrap*/
.left-column-warp{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 120px;
}
.main-title{
    display: flex;
    margin-top: 36px;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    width: 1296px;
    margin-bottom: 23px;
}
    /*main form*/
.line{
    border-top: 1px solid #A8A8A8;
    margin: 0;
    box-sizing: border-box;
}
    /*contacts-box*/
fieldset{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact-warp{
    gap: 16px;
}
.contacts-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
}
.column-title{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}
.contact-input{
    background: #F5F5F5;
    border: 1px solid #8E8E8E;
    padding: 10px;
    border-radius: 4px;
    width: 416px;
    height: 44px;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}
.contact-label{
    color: #1F1F1F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.contact-input::placeholder{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}
.contact-input:focus{
    border: 2px solid #2080F6;
    box-shadow: 0 0 0 3px rgba(36, 100, 241, 0.15);
    outline: 2px #2080F6;
}
    /*delivery box*/
.delivery-description-wrap{
    gap: 8px;
}
.label-delivery-title{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}
textarea{
    resize: none;
    width: 416px;
    height: 104px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    border-radius: 4px;
    padding: 10px;
}
textarea::placeholder{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}
textarea:focus{
    border: 2px solid #2080F6;
    box-shadow: 0 0 0 3px rgba(36, 100, 241, 0.15);
    outline: 2px #2080F6;
}
.delivery-day-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 416px;
    height: 28px;
}
.delivery-day-title{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}
.delivery-date-display{
    width: 100px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    padding: 2px 8px;
}
.delivery-date-display:focus{
    border: 2px solid #2080F6;
    box-shadow: 0 0 0 3px rgba(36, 100, 241, 0.15);
    outline: 2px #2080F6;
}
    /*comment-wrap*/
.comment-wrap{
    gap: 8px;
}
.comment-title{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}
    /*confirm-order*/
.confirm-order-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.confirm-call-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}
.confirm-text{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
}
.confirm-description{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
}
.confirm-choice-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}
.confirm-text-radio-btn{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}
.confirm-radio-btn{
    width: 16px;
    height: 16px;
    margin: 0;
}
.radio-btn-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
    /*right-column-wrap*/
.right-column-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    gap: 32px;
    background: #F5F5F5;
    width: 526px;
    height: 456px;
    box-sizing: border-box;
}
.order-wrap{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 446px;
    height: 120px;
    box-sizing: border-box;
}
.order-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    width: 192px;
}
.order-name{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}
.order-weight{
    margin-top: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #8E8E8E;
}
.total-order-number-box{
    display: flex;
    box-sizing: border-box;
    width: 53px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: 1px solid #8E8E8E;
    border-radius: 4px;
    padding: 4px 8px;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
}
.order-price{
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    width: 78px;
    height: 27px;
    padding: 0 0 0 8px;
}
.total-wrap{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 56px;
    width: 446px;
    padding: 10px 0;
}
.total-box{
    display: flex;
    justify-content: space-between;
}
    /*box-btn-submit*/
.submit-and-reset{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.checkbox-agree{
    margin: 0;
}
.checkbox-text{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    left: 8px;
}
    /*btn*/
.button-box{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
button{
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 400;
}
.btn-submit{
    color: #F8FDFE;
    background: #3D76BA;
}
.btn-submit:hover{
    background: #63A1EB;
}
.btn-reset{
    color: #1F1F1F;
    background: #DEDEDE;
}
.btn-reset:hover{
    background: #EEE;
}
    /*footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    background: #6D91DC;
}
.wrap-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
}
.footer-text{
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
}